{
  "orange_pillar": {
    "H_MIN": 1, 
    "H_MAX": 9, 
    "S_MIN": 99, 
    "S_MAX": 186, 
    "V_MIN": 203, 
    "V_MAX": 255
  }, 
  "blue_pillar": {
    "H_MIN": 104, 
    "H_MAX": 115, 
    "S_MIN": 119, 
    "S_MAX": 207, 
    "V_MIN": 112, 
    "V_MAX": 251
  }, 
  "ball": {
    "H_MIN": 21, 
    "H_MAX": 44,
    "S_MIN": 46,
    "S_MAX": 158, 
    "V_MIN": 82, 
    "V_MAX": 238
  }, 
  "green_pillar": {
    "H_MIN": 89, 
    "H_MAX": 102, 
    "S_MIN": 109, 
    "S_MAX": 200, 
    "V_MIN": 120, 
    "V_MAX": 254
  }, 
  "red_pillar": {
    "H_MIN": 147, 
    "H_MAX": 180, 
    "S_MIN": 77, 
    "S_MAX": 209, 
    "V_MIN": 117, 
    "V_MAX": 192
  }
}
