{
  "orange_pillar": {
    "H_MIN": 1, 
    "H_MAX": 21, 
    "S_MIN": 94, 
    "S_MAX": 174, 
    "V_MIN": 176, 
    "V_MAX": 256
  }, 
  "blue_pillar": {
    "H_MIN": 99, 
    "H_MAX": 142, 
    "S_MIN": 141, 
    "S_MAX": 197, 
    "V_MIN": 108, 
    "V_MAX": 256
  }, 
  "ball": {
    "H_MIN": 25, 
    "H_MAX": 45, 
    "S_MIN": 57, 
    "S_MAX": 155, 
    "V_MIN": 90, 
    "V_MAX": 256
  }, 
  "green_pillar": {
    "H_MIN": 81, 
    "H_MAX": 102, 
    "S_MIN": 96, 
    "S_MAX": 215, 
    "V_MIN": 92, 
    "V_MAX": 256
  }, 
  "red_pillar": {
    "H_MIN": 164, 
    "H_MAX": 194, 
    "S_MIN": 113, 
    "S_MAX": 217, 
    "V_MIN": 73, 
    "V_MAX": 256
  }
}
